@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;700&display=swap');

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'AR One Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 20px;
}
.header h3 {
    font-size: 20px;
}
.header-right {
    display: flex;
    align-items: center;
    height: 63px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.header-right li a {
    color: white;
    text-decoration: none;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-right: 20px;
    border-top: 2px solid rgba(15,14,46,255);
    transition: 0.2s;
}
.header-right li a:hover {
    color: orange;
    border-top: 2px solid orange;
    transition: 0.5s;
}