@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(15, 14, 46);
    /* Couleur de fond de la page */
    font-family: 'AR One Sans', sans-serif;
    /* Donner la police d'écriture */
    overflow-x: hidden;
    /* Donner la longueur souhaité */
}

.pages_banner {
    max-width: 100%;
    /* Prendre la longueur maximale de la fenêtre */
    height: 18vw;
    /* Largeur de 250px */
    background-image: url("../images/pages_banner.jpg");
    /* Mettre l'image en fond */
    background-color: rgba(0, 0, 0, 0.5);
    /* Mettre la couleur en fond */
    background-blend-mode: darken;
    /* Mélanger le fond et la couleur */
    background-position-y: -1200px;
    /* Positionner l'image dans la div */
    font-size: 0.9vw;
}

.pages_banner h1 {
    color: rgb(255, 255, 255);
    /* Donner la couleur blanche au texte */
    display: flex;
    /* Aligner le texte */
    justify-content: center;
    /* Centrer le texte */
    align-content: center;
    padding-top: 10vw;
    /* Centrer verticalement le texte */

}

/* index.html */
#welcome {
    display: inline-block;
    background-image: url("../images/fond.jpg");
    background-attachment: fixed;
    background-size: 100%;
    width: 98.9vw;
    height: 50vw;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

#welcome h1 {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-transform: uppercase;
    color: white;
    width: 40vw;
    font-size: 4vw;
    text-align: center;
    font-weight: 1000;
    margin: 20vw auto 0;
}

#welcome p {
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: rgb(207, 207, 207);
    text-align: center;
    font-weight: 100;
    font-size: 1.3vw;
}

#welcome #button {
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: orange;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 0;
    color: white;
    text-transform: uppercase;
    font-size: 1.4vw;
    display: block;
    padding: 1vw 3vw;
    text-decoration: none;
    width: fit-content;
}

#IlluImg {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw 0 0 0;
}

#IlluImg #AllImg {
    width: 63%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#IlluImg .img:not(.img:first-of-type) {
    width: 15vw;
    height: 20vw;
    overflow: hidden;
}

#IlluImg .img:first-of-type {
    width: 30vw;
    height: 20vw;
}

#IlluImg .img:first-of-type img {
    width: 100%;
    height: 100%;
}

#IlluImg .img:not(.img:first-of-type) img {
    width: 200%;
}

#IlluImg .img:nth-of-type(2) img {
    position: relative;
    left: -6vw;
}

#IlluImg .img:nth-of-type(3) img {
    position: relative;
    left: -6vw;
    top: -4vw;
}

#IlluImg>div:last-of-type {
    width: 63%;
    margin: 2vw auto;
    display: flex;
    justify-content: space-between;
}

#IlluImg div:last-of-type div {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}

#IlluImg div:last-of-type div p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#IlluImg div:last-of-type div p:first-of-type {
    color: rgba(55, 36, 160, 255);
    font-size: 2vw;
}

#IlluImg div:last-of-type div p:nth-of-type(2) {
    color: white;
    margin: 5px 1vw;
    font-size: 1.3vw;
}

#IlluImg div:last-of-type div p:last-of-type {
    color: rgb(207, 207, 207);
    margin: 0 3.4vw;
    font-size: 1.2vw;
}

#Stats {
    width: 63%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vw;
}

#Stats img {
    width: 45%;
    height: 16vw;
}

#Stats>div {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1.8vw;
}

#Stats div div {
    width: 15vw;
    height: 7vw;
}

#Stats div div p {
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#Stats div div p:first-of-type {
    font-size: 1.7vw;
    font-weight: bolder;
    margin-top: 1.5vw;
}

#Stats div div p:last-of-type {
    font-size: 1.3vw;
}

#Stats div div:first-of-type {
    background-color: rgba(55, 36, 160, 255);
}

#Stats div div:nth-of-type(2) {
    background-color: rgba(24, 161, 95, 255);
}

#Stats div div:nth-of-type(3) {
    background-color: rgba(185, 28, 168, 255);
    margin-top: 0.5vw;
}

#Stats div div:nth-of-type(4) {
    margin-top: 0.5vw;
    background-color: rgba(236, 145, 35, 255);
}

#Team {
    margin: 0 0 5vw;
}

#Team h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 3vw;
    margin: 10vw 0 0;
}

#Team>p {
    color: rgb(207, 207, 207);
    text-align: center;
    margin: 1vw 0 0;
    font-size: 0.7vw;
}

#Team>img {
    display: block;
    margin: 1.5vw auto;
    width: 15vw;
}

#Team>div {
    width: 63vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#Team>div>div {
    background-color: rgba(14, 11, 38, 255);
    padding: 3vw 5vw;
}

#Team div div .pp {
    overflow: hidden;
    width: 10vw;
    height: 10vw;
    border-radius: 100px;
}

#Team div div .pp img {
    position: relative;
    width: 180%;
    left: -3.5vw;
}

#Team div div p {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#Team div div .reseau {
    margin: 1.5vw auto;
    color: white;
    width: 7vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
}

#Team div div p:first-of-type {
    color: white;
    text-align: center;
    margin: 0;
    font-weight: bolder;
    font-size: 1.5vw;
    margin: 2vw 0 0;
}

#Team div div p:last-of-type {
    color: rgb(207, 207, 207);
    text-align: center;
    margin: 0;
    font-size: 1vw;
    margin: 1.5vw 0 0;
}

/* login.html */
.login_form form,
.register_form form {
    display: flex;
    /* Aligner le texte */
    flex-direction: column;
    /* Mettre en colonne le formulaire */
    width: 36%;
    /* Longueur du formulaire */
    margin: 6em auto 6em;
    /* Centrer le formulaire */
    font-size: 0.9vw;
}

.login_form input:not(input:last-of-type),
.register_form input:not(input:last-of-type) {
    width: 35vw;
    /* Longueur des inputs sauf le submit */
    height: 2.5vw;
    /* Largeur des inputs sauf le submit */
    margin-bottom: 3.5%;
    /* Espacement entre les inputs */
    border-radius: 0.3vw;
    /* Arrondir les bords des inputs */
    background-color: rgb(39, 38, 69);
    /* Couleur de fonds des inputs */
    border: none;
    /* Retirer les bordures */
    color: white;
    outline: none;
    padding-left: 2%;

}

.login_form input::placeholder,
.register_form input::placeholder {
    position: absolute;
    /* Positionner par rapport à l'input */
    left: 2%;
    /* Positionner depuis la gauche */
    top: 25%;
    /* Positionner depuis le haut */

}

.login_form input:last-of-type,
.register_form input:last-of-type {
    width: 8vw;
    /* Longueur du submit */
    height: 2.5vw;
    /* Largeur du submit */
    color: white;
    /* Couleur du texte du submit */
    background-color: rgb(236, 146, 36);
    /* Couleur du fond du submit */
    border: none;
    /* Retirer les bordures */
    border-radius: 0.2vw;
    /* Arrondir les bords du submit */
}

/* contact.html */
.contact_infos {
    display: flex;
    justify-content: center;

}

.contact_infos .info_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10vw;
    background-color: rgba(14, 11, 38, 255);
    margin: 0.8vw;
}

.contact_infos .info_block p {
    color: rgba(180, 187, 217, 255);
    font-size: 1vw;
}

/* memory.html */
.tableGame {
    margin: 50px auto;
    border-spacing: 1vw;
}

.tableGame tr td img {
    width: 6vw;
    height: 6vw;
    margin: 0 auto;
    display: block;
}

table#big img {
    width: 5vw;
    height: 5vw;
}

.hidden {
    display: none;
}

/* tchat.html */

.tchat {
    background-color: darkseagreen;
    align-items: center;
    margin: 35%;
    background-color: rgba(65, 114, 255, 255);
    width: 25vw;
    border-radius: 2%;
    height: 34vw;
    
}

.tchat_head {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 4vw;
    margin-left: 1.5%;

}

.tchat .image_robot {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-image: url("../images/chat_robot2.png");
    margin: 1% 1.5%;
    background-size: 100%;
    offset;
}

.tchat .tchat_head p {
    color: white;
    margin: 0%;
    margin-left: 2%;
}


.tchat_body {
    background-color: white;
    height: 30vw;
    width: 25vw;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    position: absolute;
    padding-top: 1vw;
    display: inline-table;
}

.msg-tchat {

    display: flex;
    flex-direction: column;
}

.msg-left-msg {
    display: flex;
    margin: øvw 0.8vw;
    color: rgba(173, 173, 173, 255);
    font-size: 0.6vw;
    margin-bottom: 0vw;
}

.msger-tchat .msg-left-msg .msg-img {
    background-image: url("../images/chat_robot2.png");
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-size: 100%;
    padding: 0.8vw;
    margin-top: 1.4vw;
    background-repeat: no-repeat;


}

.msg-bubble {
    border-radius: 2%;
    padding-left: 0.4vw;
    margin-left: 2%;

}

.msg-left-msg .msg-text {
    background-color: rgba(244, 248, 251, 255);
    margin-right: 1.5vw;
    padding: 0.6vw;
    border-radius: 10px;
    font-size: 0.9vw;
    color: black;
    
}




.msg-info-name,.msg-info-time {
    margin: 0.4vw 0vw;

}

.msg-left-msg .msg-info {
    display: flex;
    flex-direction: column;
    margin-right: 1vw;

}

.msg-info-name {
    font-size: 0.8vw;
}

.msg-right-msg {
    display: flex;
    color: rgba(173, 173, 173, 255);
    font-size: 0.6vw;
    flex-direction: row-reverse;
    margin: 0vw 6.5vw;
    margin-right: 0.3vw;
  
}


.msg-right-msg .msg-text {
    background-color: rgba(65, 114, 255, 255);
    padding: 0.6vw;
    border-radius: 10px;
    font-size: 0.9vw;
    color: white;
    width: fit-content;
}

.msg-right-msg .msg-info-name {
    margin-right: 0.2vw;
}

.msg-right-msg .msg-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.msg-right-msg .msg-info-name {
    margin-top: 0vw;
}


.tchat-body-bottom {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.msg-write-form {
    display: flex;
    justify-content: flex-start;
    margin-top: 8vw;
    margin-left: 1vw;
}

.msg-write-form input:not(input:last-of-type) {
    
    border-radius: 0.3vw;
    color: black;
    padding-left: 2%;
    line-height: normal;
    padding-left: 2%;

}

.msg-write-form input::placeholder{
    position: absolute;
    left: 2%;
    font-size: 100%;
}

.msg-write-form input:last-of-type{
    width: 16vw;
    height: 2.5vw;
    padding-right: 0.3vw;
    border: 1px solid #ccc;
    padding-left: 2%;
    border-radius: 6px;
}

.send input:last-of-type {
    width: 6vw;
    height: 2.5vw;
    color: black;
    border: none;
    background-color: transparent;
    margin-right: 0.5vw;
    font-size: 1.1vw;
    font-weight:600;
}
